* { 
  box-sizing: border-box; 
}

*::before, 
*::after { 
  box-sizing: inherit; 
}

html, 
body { 
  margin: 0; 
  padding: 0; 
  height: 100%; 
  font-family: sans-serif; 
}

img { 
  max-width: 100%; 
  height: auto; 
  display: block; 
}

a { 
  text-decoration: none; 
  color: inherit; 
}

ul, 
ol { 
  margin: 0; 
  padding: 0; 
  list-style: none; 
}