---
import Layout from '../layouts/Layout.astro';
import icon from '../assets/img/icon_m.png';
---

<Layout>
	<section style="text-align: center; padding: 2rem;">
		<img src={icon.src} alt="Icon" style="width: 150px; height: auto; border-radius: 50%;" />
		<h1>Welcome to My Portfolio</h1>
		<p>This is the hero section where I introduce myself and my work.</p>
		<a href="#projects" class="cta-button">View My Projects</a>
	</section>
</Layout>
