---
import '../styles/reset.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="author" content="Miguel Angel Chavez" />
    <meta
      name="description"
      content="Soy un desarrollador web fullStack. 😀"
    />
    <meta
      name="keywords"
      content="desarrollo web, desarrollo fullStack, java, Spring Boot, HTML, CSS, React, Tailwind, Miguel Angel, Miguel Angel Chavez"
    />
    <title>Portfolio de Miguel Angel Chavez - Desarrollador web</title>
  <body>
    <slot />
  </body>


</html>
